{{>header}}
{{>part_of}}
{{#models}}
{{#model}}
{{#isEnum}}
{{#native_serialization}}
{{>serialization/native/native_enum}}
{{/native_serialization}}
{{/isEnum}}
{{^isEnum}}
{{#oneOf}}{{#-first}}{{>serialization/native/model_oneOf}}{{/-first}}{{/oneOf}}
{{#anyOf}}{{#-first}}{{>serialization/native/model_anyOf}}{{/-first}}{{/anyOf}}
{{^oneOf}}
{{^anyOf}}
{{#native_serialization}}
{{>serialization/native/native_class}}
{{/native_serialization}}
{{/anyOf}}
{{/oneOf}}
{{/isEnum}}
{{/model}}
{{/models}}
