{{>serialization/native/snippet_anyOfOneOfEnum}}


{{#isDeprecated}}
@Deprecated('{{{classname}}} has been deprecated')
{{/isDeprecated}}
class {{classname}} extends AbstractOpenAPISchema {

    late Object{{#isNullable}}?{{/isNullable}} _actualInstance;
    
    set actualInstance(Object{{#isNullable}}?{{/isNullable}} value) {
        {{#anyOf}}
          {{^-first}}else {{/-first}}if (value is {{{.}}})
            {
                this._actualInstance = value;
            }
        {{/anyOf}}
        {{#isNullable}}else if(value == null) {
          this._actualInstance = null;
        }{{/isNullable}}
       else
        {
            {{#anyOf}}{{#-first}}
            throw new ArgumentError("Invalid instance found. Must be any of the following types:{{#anyOf}} {{{.}}}{{^-last}},{{/-last}}{{/anyOf}}");
            {{/-first}}{{/anyOf}}
        }
    }

    @override
    Object{{#isNullable}}?{{/isNullable}} get actualInstance => _actualInstance;

    @override
    bool get isNullable => {{#isNullable}}true{{/isNullable}}{{^isNullable}}false{{/isNullable}};

    @override
    OpenAPISchemaType get schemaType => {{#composedSchemas}}{{#-first}} {{#anyOf}}{{#-first}}OpenAPISchemaType.anyOf;{{/-first}}{{/anyOf}}{{/-first}}{{/composedSchemas}}

    /// Provides an enum which corresponds to the getter methods
    ///
    /// Can be used to switch and get the real instance value
    {{classname}}WhichEnum? get which {
      {{#composedSchemas.anyOf}}
      if(actualInstance is {{{dataType}}}) {
        return  {{classname}}WhichEnum.{{#vendorExtensions.dataTypeAsIdentifier}}{{{.}}}{{/vendorExtensions.dataTypeAsIdentifier}};
      }
      {{/composedSchemas.anyOf}}
              return null;
    }
    {{classname}}(this._actualInstance);


    
    {{#composedSchemas.anyOf}}
    /// Returns a [{{dataType}}] from this OneOf object. 
    ///
    /// Throws [TypeError] if the cast is invalid. 
    ///
    /// use the result of [which] to determine the actual underlying type
    {{{dataType}}}{{#isNullable}}?{{/isNullable}} get{{#vendorExtensions.dataTypeAsIdentifierCamelCase}}{{{.}}}{{/vendorExtensions.dataTypeAsIdentifierCamelCase}}() => actualInstance as {{{dataType}}};
    {{/composedSchemas.anyOf}}




  /// Returns the string presentation of the object
  ///
  /// String presentation of the object
  @override
  String toString() {
    var sb = new StringBuffer()
      ..write("{{classname}} [\n")
      ..write("  actualInstance: ")
      ..write(actualInstance)
      ..write("\n")
      ..write("]\n");
    return sb.toString();
  }

  dynamic toJson() => jsonEncode(actualInstance);

  static {{classname}}? fromJson(dynamic value) {
    {{classname}}? _new{{classname}} = null;

    if(value == null) {
        return _new{{classname}};
    }



  {{#composedSchemas}}{{#-first}}
 
        {{#anyOf}}
         {{>serialization/native/snippet_anyOf}}
        {{/anyOf}}
  
  {{/-first}}{{/composedSchemas}}


    // no match found, throw an exception
    throw ApiException(HttpStatus.internalServerError, "The JSON string '$value' cannot be deserialized into any schema defined.");

  }


  @override
  bool operator ==(Object other) => identical(this, other) || other is {{classname}} && other.actualInstance == actualInstance;

  @override
  int get hashCode => _actualInstance{{#isNullable}}?{{/isNullable}}.hashCode{{#isNullable}} ?? 0{{/isNullable}};

}