enum {{classname}}WhichEnum {
    {{#composedSchemas.oneOf}}
    /// Represents a switch for a [{{{dataType}}}] object
    {{#vendorExtensions.x-dart-datatype-as-identifier}}
    {{{.}}},
    {{/vendorExtensions.x-dart-datatype-as-identifier}}
    {{/composedSchemas.oneOf}}
    {{#composedSchemas.anyOf}}
    /// Represents a switch for a [{{{dataType}}}] object
    {{#vendorExtensions.x-dart-datatype-as-identifier}}
    {{{.}}},
    {{/vendorExtensions.x-dart-datatype-as-identifier}}
    {{/composedSchemas.anyOf}}
}