        try {
          {{{dataType}}}? _obj =
          {{#isArray}}{{#items}}
          {{#isPrimitiveType}} (value as Iterable).cast<{{{dataType}}}>().toList();{{/isPrimitiveType}}
          {{#isModel}}{{{dataType}}}.listFromJson(value);{{/isModel}}
          {{/items}}{{/isArray}}

          {{^isArray}}
          {{#isPrimitiveType}}
          value as {{{dataType}}}?;
          {{/isPrimitiveType}}
          {{^isPrimitiveType}}{{#isModel}} {{dataType}}.fromJson(value); {{/isModel}}{{/isPrimitiveType}}
          {{/isArray}}
          if(_obj != null) {
            _new{{classname}} = {{classname}}._(_obj);
            _matchedTypes.add("{{{dataType}}}");
            _match++;
          }     
        } on Exception {}
